/* Fonts */
@font-face {
    font-family: "Lulo Clean W01 One Bold";
    src: url(fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Brandon Grotesque Thin";
    src: url(fonts/M-2p-thin/mplus-2p-thin.ttf) format("truetype");
}

@font-face {
    font-family: "Brandon Grotesque Light";
    src: url("fonts/Coves-Light/Coves Light.otf") format("opentype");
}

@font-face {
    font-family: "Neutra Bold";
    src: url("fonts/neutra-text-font/NeutraText-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Dancing Script";
    src: url("fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf") format("truetype");
}

/* General Settings */
* {
    font-family: "Brandon Grotesque Thin", "Avenir", "Arial";
}

/* Avoid images overfitting divs */
img {
    max-width: 100%;
}

/* Nav component */
nav {
    border-bottom: 3px solid;
}

nav a, #navbarToggleExternalContent a {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

nav a:hover {
    color: rgb(93, 93, 145);
}

nav .active {
    color: #adb5bd;
}

.navbar-light .navbar-toggler {
    border: none;
}

/* Small Devices */
@media all and (min-width:0px) and (max-width: 414px) {
    #nav-desktop {
        display: none;
    }
}

/* Desktops */
@media only screen and (min-width : 415px) {
    .pos-f-t {
        display: none;
    }
}

/* Headers */
main h1 {
    font-family: "Lulo Clean W01 One Bold", "Avenir";
    font-size: 20px;
}

main h2 {
    font-size: 18px;
}

main h3 {
    font-family: "Lulo Clean W01 One Bold", "Avenir";
    font-size: 15px;
}

/* Footer */
footer {
    margin-top: 120px;
    padding-top: 15px;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid;
    border-color: grey;
}

.picto-social-network {
    width: 20px;
    height: 20px;
    margin: 10px;
}

#copyright {
    padding: 20px 0px;
    background-color: rgb(247, 247, 247);
}

/* Highlighted text */
.brand-bold {
    font-family: "Lulo Clean W01 One Bold", "Avenir";
    font-size: 12px;
    font-style: italic;
}

.dancing-brand {
    font-family: "Dancing Script", "Avenir";
}

.bold-text {
    font-family: "Avenir";
    font-size: 17px;
}


/* CSS rules for index.html file */
.logo-carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    z-index: 100;
}

/* Change carousel arrows */
#photoAlbum .carousel-control-prev-icon {
    width: 50px;
    height: 50px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(247,247,247)' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
 
#photoAlbum .carousel-control-next-icon {
    width: 50px;
    height: 50px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(247,247,247)' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.index-side-photo {
    width: 420px;
    height: 568px;
}

#discover-menu a {
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 10px;
    font-size: 18px;
    color: rgb(0, 0, 0)
}
    
#discover-menu a:hover {
    color: rgb(93, 93, 145);
}

.more-infos a {
    font-family: "Avenir";
    font-size: 16px;
    text-decoration: none;
}

#photo-gallery img {
    padding: 5px;
    width: 280px;
    height: 200px;
}

#photo-gallery .img-tall {
    height: 400px;
}


/* CSS rules for menu.html file */
.logo {
    width: 200px;
}

.partners-logo {
    display: flex;
    justify-content: center;
}

.and-between-logos {
    /* margin-top: 20px; */
    font-size: 30px;
}

h5 {
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2px;
}

#menu ul {
    padding: 0;
    list-style-type: none;
}

#menu ul li {
    margin-bottom: 10px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #menu .first-col {
        border-right: solid;
    }
}

/* CSS rules for infos.html file */
.value-name {
    font-family: "Lulo Clean W01 One Bold", "Avenir";
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    letter-spacing: 2px;
}

.citation {
    /* font-style: italic; */
    font-family: "Avenir";
    font-size: 17px;
}